# Config settings for a selection of RPC based adaptors
Hirocoin:
    type: \n00bsys0p\RpcAdaptor
    subsidy_function: \n00bsys0p\HirocoinSubsidyFunction
    host: 127.0.0.1
    port: 9347
    user: hirocoinrpc
    pass: Y0urSup3rSecretP4s5word
Darkcoin:
    type: \n00bsys0p\RpcAdaptor
    subsidy_function: \n00bsys0p\DarkcoinSubsidyFunction
    host: 127.0.0.1
    port: 9998
    user: darkcoinrpc
    pass: Y0urSup3rSecretP4s5word
Limecoin:
    type: \n00bsys0p\RpcAdaptor
    subsidy_function: \n00bsys0p\LimecoinSubsidyFunction
    host: 127.0.0.1
    port: 9031
    user: limecoinrpc
    pass: Y0urSup3rSecretP4s5word
Québecoin:
    type: \n00bsys0p\RpcAdaptor
    subsidy_function: \n00bsys0p\LimecoinSubsidyFunction
    host: 127.0.0.1
    port: 56789
    user: québecoinrpc # NOTE: my system didn't like the default, so I changed it to quebecoinrpc here and in quebecoin.conf
    pass: Y0urSup3rSecretP4s5word
Logicoin:
    type: \n00bsys0p\RpcAdaptor
    subsidy_function: \n00bsys0p\LogicoinSubsidyFunction
    host: 127.0.0.1
    port: 9652
    user: logicoinrpc
    pass: Y0urSup3rSecretP4s5word
Muniti:
    type: \n00bsys0p\RpcAdaptor
    subsidy_function: \n00bsys0p\MunitiSubsidyFunction
    host: 127.0.0.1
    port: 3519
    user: Munitirpc
    pass: Y0urSup3rSecretP4s5word
GlobalDenomination:
    type: \n00bsys0p\RpcAdaptor
    subsidy_function: \n00bsys0p\GlobalDenominationSubsidyFunction
    host: 127.0.0.1
    port: 38347
    user: GlobalDenominationrpc
    pass: Y0urSup3rSecretP4s5word
HighFiveCoin:
    type: \n00bsys0p\RpcAdaptor
    subsidy_function: \n00bsys0p\HighFiveCoinSubsidyFunction
    host: 127.0.0.1
    port: 3555
    user: HighFiveCoinrpc
    pass: Y0urSup3rSecretP4s5word
# Config settings for Abe based adaptors
#Hirocoin:
#    type: \n00bsys0p\AbeAdaptor
#    subsidy_function: \n00bsys0p\HirocoinSubsidyFunction
#    url: http://explorer.hirocoin.org
#    chain: Hirocoin
#Darkcoin:
#    type: \n00bsys0p\AbeAdaptor
#    subsidy_function: \n00bsys0p\DarkcoinSubsidyFunction
#    url: http://explorer.darkcoin.io # Note: Currently the DRK explorer API is displaying completely incorrect difficulties
#    chain: Darkcoin
#Limecoin:
#    type: \n00bsys0p\AbeAdaptor
#    subsidy_function: \n00bsys0p\LimecoinSubsidyFunction
#    url: http://limecoin.coinexplorers.com
#    chain: Limecoin
#Québecoin:
#    type: \n00bsys0p\AbeAdaptor
#    subsidy_function: \n00bsys0p\QuebecoinSubsidyFunction
#    url: http://cryptexplorer.com
#    chain: QuebeCoin
#Logicoin: # There are no usable (with API) explorers for LGC I can find
#Muniti: # There are no usable (with API) explorers for LGC I can find
#GlobalDenomination: # There are no usable (with API) explorers for LGC I can find
#HighFiveCoin:
#   type: \n00bsys0p\AbeAdaptor
#   subsidy_function: \n00bsys0p\HighFiveCoinSubsidyFunction
#   url: http://explorer.altcoinmania.org:2750
#   chain: HighFiveCoin
