# Config settings for an RPC based adaptor
#classname: \n00bsys0p\HirocoinRpcAdaptor
#host: 127.0.0.1
#port: 9347
#user: yourrpcusername
#pass: YourSuperSecretPassphrase

# Config settings for an Abe based adaptor
classname: \n00bsys0p\HirocoinAbeAdaptor
url: http://explorer.hirocoin.org
chain: Hirocoin
