appname: Mining Calculator
#logo: logo.png # Located in public/assets/img/
coins:
    Hirocoin:
        code: HIRO
    Darkcoin:
        code: DRK
    Limecoin:
        code: LIM
    Québecoin:
        code: QBC
    Logicoin:
        code: LGC
    Muniti:
        code: MUN
    GlobalDenomination:
        code: GDN
