Hirocoin:
    Poloniex:
        base_url: https://poloniex.com
        uri: public
        get_params:
            command: returnTicker
        json_key: BTC_HIRO.last
    Mintpal:
        base_url: https://api.mintpal.com/market/stats
        uri: HIRO/BTC
        json_key: 0.last_price
    Bittrex:
        base_url: https://bittrex.com/api/v1/public
        uri: getticker
        get_params:
            market: BTC-HIRO
        json_key: result.Bid
    Allcoin:
        base_url: https://www.allcoin.com/api1
        uri: pair/hic_btc
        json_key: data.trade_price
Darkcoin:
    Poloniex:
        base_url: https://poloniex.com
        uri: public
        get_params:
            command: returnTicker
        json_key: BTC_DRK.last
    Mintpal:
        base_url: https://api.mintpal.com/market/stats
        uri: DRK/BTC
        json_key: 0.last_price
    Bittrex:
        base_url: https://bittrex.com/api/v1/public
        uri: getticker
        get_params:
            market: BTC-DRK
        json_key: result.Bid
    Allcoin:
        base_url: https://www.allcoin.com/api1
        uri: pair/drk_btc
        json_key: data.trade_price
Limecoin:
    Swaphole:
        base_url: http://api.swaphole.com/market
        uri: LIM/BTC
        json_key: ticks.0.close
Québecoin:
    Bittrex:
        base_url: https://bittrex.com/api/v1/public
        uri: getticker
        get_params:
            market: BTC-QBC
        json_key: result.Bid
Logicoin:
    Poloniex:
        base_url: https://poloniex.com
        uri: public
        get_params:
            command: returnTicker
        json_key: BTC_LGC.last
